<!DOCTYPE html>
<html lang="en">
    <style>
        .dropbtn {
          background-color: #4CAF50;
          color: white;
          padding: .375rem .75rem;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          right: 0;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-content a:hover {background-color: #f1f1f1;}
        .dropdown:hover .dropdown-content {display: block;}
        .dropdown:hover .dropbtn {background-color: #3e8e41;}
        </style>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" type="text/css">

        <title>{% block title %} {% endblock %}</title>

        {% block head %}
        {% endblock %}

        <!--Bootstrap Link-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Stylesheets use special links using flask https://stackoverflow.com/questions/13772884/css-problems-with-flask-web-app-->
        <link type = "text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
    </head>
    <body style="font-family: 'Roboto', sans-serif; ">
        <nav class="navbar navbar-expand-md bg-light">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!-- DROPDOWN FORM FOR INSERTING STARTS HERE-->
                    <div class="dropdown" style="float: left;">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insert Project</button>
                        <div class="dropdown-menu">
                            <form action="/insert" method="POST" >
                                <div class="form-row" style="padding: 3px">
                                    <div class="col">
                                        <input type="text" class="form-control" name="id" placeholder="ID" required="required" minlength="9">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="name" placeholder="Name" required="required" minlength="5">
                                    </div>
                                </div>
                                <div class="form-row" style="padding: 3px">
                                    <div class="col">
                                        <input type="text" class="form-control" name="category" placeholder="Category" required="required">
                                    </div>
                                    <div class="col">
                                    <input type="text" class="form-control" name="main_category" placeholder="Main Category" required="required">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="currency" placeholder="Currency" required="required">
                                    </div>
                                </div>
                                <div class="form-row" style="padding: 3px">
                                    <div class="col">
                                        <label for="deadline">Deadline:</label> 
                                        <input type="date" id="deadline" class="form-control" name="deadline" required="required">
                                    </div>
                                    <div class="col">
                                        <label for="launched">Launched:</label> 
                                        <input type="date" id="launched" class="form-control" name="launched" required="required">
                                    </div>
                                </div>
                                <div class="form-row" style="padding: 3px">
                                    <div class="col">
                                        <input type="number" class="form-control" name="goal" placeholder="Goal" required="required" min="20" max="999999999">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" name="pledged" placeholder="Pledged" required="required" min="0" max="999999999">
                                    </div>
                                    <div class="col">
                                        <label for="state">State:</label>
                                        <select name="state" class="form-control" id="state">
                                            <option value="successful">Successful</option>
                                            <option value="failed">Failed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row" style="padding: 3px">
                                    <div class="col">
                                        <input type="number" class="form-control" name="backers" placeholder="# Backers" min="0" max="999999999">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="country" placeholder="Country" required="required">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" name="usd_pledged" placeholder="USD Pledged">
                                    </div>
                                </div>
                                <div class="form-row" style="padding: 3px">
                                    <div class="col">
                                        <input type="number" class="form-control" name="usd_pledged_real" placeholder="USD Pledged Real">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" name="usd_goal_real" placeholder="USD Goal Real">
                                    </div>
                                </div>
                                <div class="form-row" style="padding: 3px">
                                    <div class="col" style="padding-top: 9px;">
                                        <center><button type="submit" class="btn btn-success">Insert Project</button> </center>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- DROPDOWN FORM FOR INSERTING ENDS HERE-->

                    <div class="dropdown" >
                        <button class="dropbtn" style="">Analytics</button>
                        <div class="dropdown-content" style="right:0;">
                            <a class="nav-link" href="{{ url_for('countryStats') }}">Breakdown By Country</a>
                            <a class="nav-link" href="{{ url_for('failedTakeoffStats') }}">Breakdown by Failed Takeoff</a>
                            <a class="nav-link" href="{{ url_for('categoryStats') }}">Most Popular Categories</a>
                            <a class="nav-link" href="{{ url_for('deadlineStats') }}">Deadline Stats</a>
                            <a class="nav-link" href="{{ url_for('mostSuccessfulCategoryStats') }}">Most Successful Categories</a>
                            <a class="nav-link" href="{{ url_for('fundingVersusSuccessStats') }}">Funding vs Success</a>
                            
                        </div>
                      </div>
                <!-- </li>
                <li class="nav-item">
                        <a class="nav-link btn btn-light btn-sm" href="{{ url_for('backup') }}">Backup Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('countryStats') }}">Breakdown By Country</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('failedTakeoffStats') }}">Breakdown by Failed Takeoff</a>
                </li>-->
            </ul>
        </nav>
        
            <!-- SEARCH BAR ENDS HERE-->
        {% block body %}{% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>