<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title> {% block title %}{% endblock %} </title>

        <!--Bootstrap Link-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Stylesheets use special links using flask https://stackoverflow.com/questions/13772884/css-problems-with-flask-web-app-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-light">
            <a class="navbar-brand brand-font logo" href="{{ url_for('index') }}">JCPenney</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Sort By Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Sort By Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Sort By Name</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>