.brand-font {
    font-family: serif;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.logo{ 
    color: #05ce78;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    color: #202020;
}

.response {
    color: #202020;
}